*,*::before,*::after
{
    box-sizing: border-box;
}
.container{
    max-width:390px;
    margin: 0 auto;
}

.header{
    .container{
        background-color: #704A92;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 52px 0px 23px 0px;
    }
    &-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 21px 0px 25px;
    }
    h1{
        color: white;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
    }
}
.change{    
    .container{
        padding: 0px 27px 72px 27px;
        background-color: #704A92;
        position: relative;
    }
    &-content{
        width: calc(100% - 54px);
        position: absolute;
        box-sizing: border-box;
        background-color: #fff;
        text-align: center;
        padding: 11px 25px 22px 24px;
        border-radius: 20px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
    }
    &-btns{
        position: relative;
        padding: 28px 0px;
        margin-top: 9px;
        border-radius: 6px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
    }
    h2{
        color: #704A92;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
    }
    button{
        width: 149px;
        padding: 16px 16px 16px 18px;
        box-sizing: border-box;
        border: none;
        background: rgba(112, 74, 146, 0.3);
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        cursor: pointer;
    }
    .change-Btn{
        background: #704A92;
        border-radius: 6px;
        box-shadow: 0px 3px 6px 0px rgba(142, 111, 141, 1);
    }
    .left-btn{
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .right-btn{
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.train{
    &-bg{
        max-width: 390px;
        margin: 0 auto;
        background-color: #704A92;
        .container{
            padding: 70px 16px 0px 21px;
            border-top-left-radius:30px;
            border-top-right-radius:30px;
            background-color:#fff;
        }
    }
    &-type{
        display: flex;
        justify-content: space-between;
        p{
            display:inline;
            padding: 2px 20px;
            color: #fff;
            border-radius: 6px;
            font-size: 15px;
            line-height: 18px;
            font-weight: bold;
        }
        .ordinary{
            background-color: #2866B9;
        }
        .direct{
            background-color: #704A92;
        }
    }
    &-content{
        display: flex;
        justify-content: center;
        height: 574px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
          }
        .ordinaryLine,.directLine{
            margin-top: 22px;
        }
        .ordinaryGrouop,.directGroup{
            width: 57.16px;
            margin-top: 13.5px;
            position: relative;
        }
        .ordinaryGrouop{
            margin-right: 2.4px;
        }
        .ordinaryTrain,.directTrain{
            position: absolute;
        }
        .directGroup{
            margin-left: 2.4px;
        }
    }
    ul{
        width: 160px;
        margin: 15px 10.5px 0px 10.5px;
    }
    li{
        margin-bottom:9px;
    }
    .directStation,.ordinaryStation{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 28px;
        border-radius:15px;
        .number{
            margin-left:18px;
            margin-right:28px;
            font-size:15px;
            line-height:18px;
          }
          .text{
            font-size:14px;
            line-height:17px;
          }
    }

    .directStation{
        background:#704A92;
        color:white;
        border: 2px solid #704A92;
    }
    .ordinaryStation{
        background:white;
        color:black;
        border: 2px solid black;
    }
}
@media (min-width: 320px){
    .change{
        .container{
            padding: 0px 13.5px 72px 13.5px;
        }
        &-content{
           width: calc(100% - 27px);
        }
        button{
            width: 52%;
        }
    }
        .train{
        ul{
            width: 40%;
        }
        .directStation,.ordinaryStation{
            display: flex;
            justify-content: center;
            .number{
                margin-left: 4.5px;
                margin-right: 7px;
            }
        }
    }
}

@media (max-width: 375px){
    .change{
        button{
            font-size: 16px;
        }
    }
}
@media (min-width: 390px) and (max-width:575px){
    .container{
        max-width: 575px;
    }
    .change{
        .container{
            display: flex;
            justify-content: center;
        }
        button{
            width: 52%;
        }
    }
    .train{
        &-bg{
            max-width: 575px;
        }
        ul{
            width: 50%;
        }
        .directStation,.ordinaryStation{
            display: flex;
            justify-content: center;
        }
    }
}
@media (min-width: 576px) and (max-width:768px){
    .container{
        max-width: 768px;
    }
    .change{
        .container{
            display: flex;
            justify-content: center;
        }
        button{
            width: 52%;
        }
    }
    .train{
        &-bg{
            max-width: 768px;
        }
        ul{
           width: 60%;
        }
        .directStation,.ordinaryStation{
            display: flex;
            justify-content: center;
        }
    }
}
